body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 15px 30px;
    gap: 10px
}

.btns {
    display: flex;
    gap: 10px
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 28px;
}

button {
    background:linear-gradient(#EAEAEA, #EAEAEA);
    min-width: 128px;
    min-height: 32px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #464655;
    border-radius: 4px;   
    cursor: pointer;
    transition-delay: .5s;
}

button:hover {
    background:linear-gradient(#B8B8B8, #B8B8B8);
    transition-delay: .5s;
}